@import "tailwindcss";

@font-face {
  font-family: 'gotham'; /* You can name this whatever you like */
  src: url('/fonts/gotham-book-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "gotham", sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.css-honxw6,.css-jn69v9
{
  height: 7px !important;
  width:7px !important;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


.navbar-carousel {
  display: flex;
  align-items: center;
  padding: 1px;
  overflow: hidden;
}

.nav-items {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.nav-items::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.nav-item {
  flex: 0 0 auto;
  margin: 0 1px;
  padding: 10px 1px;
  cursor: pointer;
  white-space: nowrap;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 5px;
}
@media screen and (min-width: 1000px) {
  
  .navbar-carousel {
    display: none;
  }
}

.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(circle closest-side,#474bff 90%,#0000) 0%   50%,
       radial-gradient(circle closest-side,#474bff 90%,#0000) 50%  50%,
       radial-gradient(circle closest-side,#474bff 90%,#0000) 100% 50%;
  background-size: calc(100%/3) 100%;
  background-repeat: no-repeat;
  animation: dots-zcf63l 1s infinite linear;
  position: absolute;
  left: 520px;
}

@keyframes dots-zcf63l {
  33% {
     background-size: calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%;
  }

  50% {
     background-size: calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%;
  }

  66% {
     background-size: calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%;
  }
}